fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-jose
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
alembic
ruff

pytest
pytest-cov
httpx
pytest-mock
